@import "tailwindcss";

:root {
  --blue-50: #EAF0FA;
  --blue-100: #BCD0EE;
  --blue-200: #9CB9E6;
  --blue-300: #6F98DA;
  --blue-400: #5385D3;
  --blue-500: #2866C8;
  --blue-600: #245DB6;
  --blue-700: #1C488E;
  --blue-800: #16386E;
  --blue-900: #112B54;
  --brown-50: #F2EEEB;
  --brown-100: #D7CAC2;
  --brown-200: #C4B1A4;
  --brown-300: #A98D7A;
  --brown-400: #997761;
  --brown-500: #7F5539;
  --brown-600: #744D34;
  --brown-700: #5A3C28;
  --brown-800: #462F1F;
  --brown-900: #352418;
  --cyan-50: #E8F8FB;
  --cyan-100: #B8EBF2;
  --cyan-200: #96E1EB;
  --cyan-300: #66D3E2;
  --cyan-400: #49CADD;
  --cyan-500: #1BBDD4;
  --cyan-600: #19ACC1;
  --cyan-700: #138697;
  --cyan-800: #0F6875;
  --cyan-900: #0B4F59;
  --green-50: #E7F8F0;
  --green-100: #B6E8D1;
  --green-200: #92DDBA;
  --green-300: #60CD9B;
  --green-400: #41C487;
  --green-500: #12B569;
  --green-600: #10A560;
  --green-700: #0D814B;
  --green-800: #0A643A;
  --green-900: #084C2C;
  --grey-50: #F0F1F3;
  --grey-100: #D0D3D9;
  --grey-200: #B9BDC7;
  --grey-300: #989FAD;
  --grey-400: #858D9D;
  --grey-500: #667085;
  --grey-600: #5D6679;
  --grey-700: #48505E;
  --grey-800: #383E49;
  --grey-900: #2B2F38;
  --neutral-1: #FFFFFF;
  --neutral-2: #FCFCFC;
  --neutral-3: #F5F5F5;
  --neutral-4: #D9D9D9;
  --neutral-5: #BFBFBF;
  --neutral-6: #8C8C8C;
  --neutral-7: #595959;
  --neutral-8: #454545;
  --neutral-9: #1F1F1F;
  --neutral-10: #000000;
  --orange-50: #FEF4E6;
  --orange-100: #FDDDB3;
  --orange-200: #FBCC8E;
  --orange-300: #FAB55A;
  --orange-400: #F9A63A;
  --orange-500: #F79009;
  --orange-600: #E18308;
  --orange-700: #AF6606;
  --orange-800: #884F05;
  --orange-900: #683C04;
  --primary-50: #E8F1F6;
  --primary-100: #B7D4E3;
  --primary-200: #95BFD6;
  --primary-300: #64A2C3;
  --primary-400: #4690B7;
  --primary-500: #1874A5;
  --primary-600: #166A96;
  --primary-700: #115275;
  --primary-800: #0D405B;
  --primary-900: #0A3145;
  --purple-50: #EFE6FD;
  --purple-100: #CEB0FA;
  --purple-200: #B78AF7;
  --purple-300: #9654F4;
  --purple-400: #8133F1;
  --purple-500: #6200EE;
  --purple-600: #5900D9;
  --purple-700: #4600A9;
  --purple-800: #360083;
  --purple-900: #290064;
  --red-50: #FFE6E6;
  --red-100: #FFB0B0;
  --red-200: #FF8A8A;
  --red-300: #FF5454;
  --red-400: #FF3333;
  --red-500: #FF0000;
  --red-600: #E80000;
  --red-700: #B50000;
  --red-800: #8C0000;
  --red-900: #6B0000;
  --teal-50: #E8F5F3;
  --teal-100: #B6DFDB;
  --teal-200: #93D0CA;
  --teal-300: #62BAB1;
  --teal-400: #43ADA2;
  --teal-500: #14988B;
  --teal-600: #128A7E;
  --teal-700: #0E6C63;
  --teal-800: #0B544C;
  --teal-900: #08403A;
  --yellow-50: #FFFDEB;
  --yellow-100: #FFFABF;
  --yellow-200: #FFF7A1;
  --yellow-300: #FFF476;
  --yellow-400: #FFF15B;
  --yellow-500: #FFEE32;
  --yellow-600: #E8D92E;
  --yellow-700: #B5A924;
  --yellow-800: #8C831C;
  --yellow-900: #6B6415;
}

@theme inline {
  --color-blue-50:var(--blue-50);
  --color-blue-100:var(--blue-100);
  --color-blue-200:var(--blue-200);
  --color-blue-300:var(--blue-300);
  --color-blue-400:var(--blue-400);
  --color-blue-500:var(--blue-500);
  --color-blue-600:var(--blue-600);
  --color-blue-700:var(--blue-700);
  --color-blue-800:var(--blue-800);
  --color-blue-900:var(--blue-900);
  --color-brown-50:var(--brown-50);
  --color-brown-100:var(--brown-100);
  --color-brown-200:var(--brown-200);
  --color-brown-300:var(--brown-300);
  --color-brown-400:var(--brown-400);
  --color-brown-500:var(--brown-500);
  --color-brown-600:var(--brown-600);
  --color-brown-700:var(--brown-700);
  --color-brown-800:var(--brown-800);
  --color-brown-900:var(--brown-900);
  --color-cyan-50:var(--cyan-50);
  --color-cyan-100:var(--cyan-100);
  --color-cyan-200:var(--cyan-200);
  --color-cyan-300:var(--cyan-300);
  --color-cyan-400:var(--cyan-400);
  --color-cyan-500:var(--cyan-500);
  --color-cyan-600:var(--cyan-600);
  --color-cyan-700:var(--cyan-700);
  --color-cyan-800:var(--cyan-800);
  --color-cyan-900:var(--cyan-900);
  --color-green-50:var(--green-50);
  --color-green-100:var(--green-100);
  --color-green-200:var(--green-200);
  --color-green-300:var(--green-300);
  --color-green-400:var(--green-400);
  --color-green-500:var(--green-500);
  --color-green-600:var(--green-600);
  --color-green-700:var(--green-700);
  --color-green-800:var(--green-800);
  --color-green-900:var(--green-900);
  --color-grey-50:var(--grey-50);
  --color-grey-100:var(--grey-100);
  --color-grey-200:var(--grey-200);
  --color-grey-300:var(--grey-300);
  --color-grey-400:var(--grey-400);
  --color-grey-500:var(--grey-500);
  --color-grey-600:var(--grey-600);
  --color-grey-700:var(--grey-700);
  --color-grey-800:var(--grey-800);
  --color-grey-900:var(--grey-900);
  --color-neutral-1:var(--neutral-1);
  --color-neutral-2:var(--neutral-2);
  --color-neutral-3:var(--neutral-3);
  --color-neutral-4:var(--neutral-4);
  --color-neutral-5:var(--neutral-5);
  --color-neutral-6:var(--neutral-6);
  --color-neutral-7:var(--neutral-7);
  --color-neutral-8:var(--neutral-8);
  --color-neutral-9:var(--neutral-9);
  --color-neutral-10:var(--neutral-10);
  --color-orange-50:var(--orange-50);
  --color-orange-100:var(--orange-100);
  --color-orange-200:var(--orange-200);
  --color-orange-300:var(--orange-300);
  --color-orange-400:var(--orange-400);
  --color-orange-500:var(--orange-500);
  --color-orange-600:var(--orange-600);
  --color-orange-700:var(--orange-700);
  --color-orange-800:var(--orange-800);
  --color-orange-900:var(--orange-900);
  --color-primary-50:var(--primary-50);
  --color-primary-100:var(--primary-100);
  --color-primary-200:var(--primary-200);
  --color-primary-300:var(--primary-300);
  --color-primary-400:var(--primary-400);
  --color-primary-500:var(--primary-500);
  --color-primary-600:var(--primary-600);
  --color-primary-700:var(--primary-700);
  --color-primary-800:var(--primary-800);
  --color-primary-900:var(--primary-900);
  --color-purple-50:var(--purple-50);
  --color-purple-100:var(--purple-100);
  --color-purple-200:var(--purple-200);
  --color-purple-300:var(--purple-300);
  --color-purple-400:var(--purple-400);
  --color-purple-500:var(--purple-500);
  --color-purple-600:var(--purple-600);
  --color-purple-700:var(--purple-700);
  --color-purple-800:var(--purple-800);
  --color-purple-900:var(--purple-900);
  --color-red-50:var(--red-50);
  --color-red-100:var(--red-100);
  --color-red-200:var(--red-200);
  --color-red-300:var(--red-300);
  --color-red-400:var(--red-400);
  --color-red-500:var(--red-500);
  --color-red-600:var(--red-600);
  --color-red-700:var(--red-700);
  --color-red-800:var(--red-800);
  --color-red-900:var(--red-900);
  --color-teal-50:var(--teal-50);
  --color-teal-100:var(--teal-100);
  --color-teal-200:var(--teal-200);
  --color-teal-300:var(--teal-300);
  --color-teal-400:var(--teal-400);
  --color-teal-500:var(--teal-500);
  --color-teal-600:var(--teal-600);
  --color-teal-700:var(--teal-700);
  --color-teal-800:var(--teal-800);
  --color-teal-900:var(--teal-900);
  --color-yellow-50:var(--yellow-50);
  --color-yellow-100:var(--yellow-100);
  --color-yellow-200:var(--yellow-200);
  --color-yellow-300:var(--yellow-300);
  --color-yellow-400:var(--yellow-400);
  --color-yellow-500:var(--yellow-500);
  --color-yellow-600:var(--yellow-600);
  --color-yellow-700:var(--yellow-700);
  --color-yellow-800:var(--yellow-800);
  --color-yellow-900:var(--yellow-900);
}

@layer base {
  body {
    @apply font-['Lexend'] antialiased min-h-[100vh] bg-[#F0F1F399];
    /* @apply font-['AnonymicePro_Nerd_Font_Mono'] antialiased min-h-[101vh]; */
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
  }

  input::-webkit-search-cancel-button {
    top: 1px;    
    right: 2px;    
    position: relative;
  }

  input::-webkit-calendar-picker-indicator {
    right: -8px;    
    position: relative;
  }
}

@layer utilities {
  .table-sticky-l { @apply z-[2] box-border before:absolute before:content-[''] before:inset-0 before:w-7 before:box-border before:pointer-events-none before:[transform:translateX(+100%)] before:shadow-[inset_+10px_0_8px_-8px_rgba(5,5,5,0.05)]; }
  .table-sticky-r { @apply z-[2] box-border before:absolute before:content-[''] before:inset-0 before:w-7 before:box-border before:pointer-events-none before:[transform:translateX(-100%)] before:shadow-[inset_-10px_0_8px_-8px_rgba(5,5,5,0.05)]; }
}